/******************************** 
    scrollUp style
 ********************************/

#scrollUp {
  background: $theme-color2;
  width: 46px;
  height: 46px;
  bottom: 50px;
  right: 50px;
  border: 1px solid $theme-color;
  border-radius: 50%;
  color: $theme-color;
  text-align: center;
  font-size: 20px;
  line-height: 46px;
  font-weight: fontweight(medium);
  &:hover {
    background: $theme-color;
    color: $theme-color2;
  }
}


/******************************** 
    scrollUp style End
 ********************************/
